<% layout('./layouts/boilerplate') %>

    <div class="auth-wrapper">
        <div class="auth-card text-center">

            <h1 style="color:red;">⚠️ Error</h1>

            <p style="margin-top:15px;">
                <%= message %>
            </p>

            <a href="/" class="btn btn-primary" style="margin-top:20px;">
                Go Back Home
            </a>

        </div>
    </div>